extends ../partials/layout

block content
	section#content
		.row#partners
			form#find-partner
				.small-12.medium-4.columns
						select(name='user' id='select-player')
							each val in players
								option(value='#{val.doublesPoints}')= val.lastName + ' ' + val.firstName + ' ' + val.doublesPoints
				.small-12.medium-4.columns
					select(name='limit' id='limit')
						option(value='2800') 2600
						option(value='2800') 2700
						option(value='2800') 2800
						option(value='2900') 2900
						option(value='3000') 3000
						option(value='3100') 3100
						option(value='3200' selected) 3200
						option(value='3300') 3300
						option(value='3400') 3400
						option(value='3500') 3500
						option(value='3600') 3600
						option(value='3700') 3700
						option(value='3800') 3800
				.small-12.medium-4.columns
					a(href='#', id='submit') Find Partners
					p Results: #[span#results 0] 

		.row
			.small-12.columns
				table#rankings
					thead
						
						td.show-for-large
							a(href='#', id='pcode') Player<br />Code
								<br style="clear: both;"/>
						td
							a(href='#', id='lname')= headlines.lastName
								<br style="clear: both;"/>
						td
							a(href='#', id='fname')= headlines.firstName
								<br style="clear: both;"/>
						td.show-for-large
							a(href='#', id='city')= headlines.city
								<br style="clear: both;"/>
						td.show-for-large
							a(href='#', id='state')= headlines.state
								<br style="clear: both;"/>
						td
							a(href='#', id='dpoints')= headlines.doublesPoints
								<br style="clear: both;"/>
						if headlines.doublesMatches
							td.show-for-large#dmatches= headlines.doublesMatches
						td#spoints
							a(href='#', id='spoints')= headlines.singlesPoints
								<br style="clear: both;"/>
						if headlines.singlesMatches
							td.show-for-large#smatches= headlines.singlesMatches
					tbody
						each val in players
							tr
									td.show-for-large= val.code
									td= val.lastName
									td= val.firstName
									td.show-for-large= val.city
									td.show-for-large= val.state
									td= val.doublesPoints
									if val.doublesMatches
										td.show-for-large= val.doublesMatches
									td= val.singlesPoints
									if val.singlesMatches
										td.show-for-large= val.singlesMatches
		
